
@mixin subheadingStyle {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  @media screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (max-width: 800px) {
    flex-direction: row;
    align-items: flex-end;
  }

  .pickup {
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: var(--siteColorRed);
  }
  .separate {
    display: flex;
    align-items: center;
    img {
    width: 40px;
    height: 40px;
    }
    .title {
      font-size: 20px;
      font-weight: 700;
      margin-left: 10px;

    }
  }
  
}

@mixin subheadingNot {
  display: flex;
  margin-top: 40px;
  gap: 10px;
  align-items: center;
  img {
    width: 60px;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }
}

@mixin articleStyle {
  
  .contents >ul{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media screen and (max-width: 520px) {
      grid-template-columns: 1fr;
      a {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        
        .text {
          justify-content: center !important;
        }
      }
    }
    a {
      display: flex;
      flex-direction: column;
      gap: 15px;
      transition: .1s;
        &:hover {
          opacity: .4;
        }
      img {
        object-fit: contain;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 5px;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        p {
        font-size: 16px;
        font-weight: 700;
      }
      time {
        font-weight: 400;
        color: var(--siteGray);
        margin-top: 6px;
      }
      }
      
    }
  }
  
  .more {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 20px;
      border: 1px solid var(--siteGray);
      border-radius: 25px;
      font-size: 12px;
      font-weight: 700;
      transition: .1s;
        &:hover {
          opacity: .4;
        }
      
    }
  }
  @media screen and (max-width: 520px) {
    .contents > ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@mixin articleStylecolumn($display:flex) {
  .contents >ul {
    gap: 12px;
    margin-top: 24px;
    display: $display;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    a {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 16px;
      transition: .1s;
        &:hover {
          opacity: .4;
        }
      img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: contain;
        border-radius: 8px;
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        
      }
      p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          font-weight: 700;
        }
        time {
          font-weight: 400;
          color: var(--siteGray);
          margin-top: 6px;
        }
    }
  }
  .more {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 20px;
      border: 1px solid var(--siteGray);
      border-radius: 25px;
      font-size: 12px;
      font-weight: 700;
      transition: .1s;
        &:hover {
          opacity: .4;
        }
      
    }
  }
}