@use '../library/mixins';

main {
  .inner {
    padding: 0 5rem;
    
  
    .maxWidth {
      max-width: 1500px;
      margin: 0 auto;
      section {
      &:first-of-type {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 55px;
        .president {
          @include mixins.presidentStyle;
        }
        .businessPerson {
          max-width: 448px;
          width: 100%;
          .subheading {
            @include mixins.subheadingStyle;
          }
          @include mixins.articleStylecolumn;
        }
      }
      &:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 55px;
        .container {
          max-width: 1100px;
          .affairs {
            .subheading {
              @include mixins.subheadingNot;
            }
            @include mixins.articleStyle;
          }
          .groupInterview {
            margin-top: 50px;
            .subheading {
              @include mixins.subheadingNot;
            }
           
            .OBOGInterview {
              >p {
                margin-top: 30px;
                font-size: 18px;
                font-weight: 700;
              }
              @include mixins.articleStyle;
            }
            .studentInterview {
              margin-top: 10px;
              >p {
                margin-top: 30px;
                font-size: 18px;
                font-weight: 700;
              }
              @include mixins.articleStyle;
            }
          }
          .groupNews {
            margin-top: 50px;
            
             .subheading {
              @include mixins.subheadingNot;
            }
            .news {
              display: flex;
              gap: 20px;
            }
            .OBOGNews {
              >p {
                margin-top: 30px;
                font-size: 18px;
                font-weight: 700;
              }
              @include mixins.articleStylecolumn;
              
            }
            .studentNews {
              margin-top: 10px;
              >p {
                margin-top: 30px;
                font-size: 18px;
                font-weight: 700;
              }
              @include mixins.articleStylecolumn;
            }
          }
        }
        
      }
    }
    }
    
  }
}