@use '../library/mixins';

.page-id-14 {
  @include mixins.allPageStyle;
  .OBOG {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 55px;
    padding: 0 80px;
    .OBOGPageDiv {
      .subheading {
      @include mixins.subheadingNot;
    }
    @include mixins.articleStyle;
    }
    
  }
}

@media screen and (max-width: 1100px) {
  .OBOG {
    flex-direction: column;
  }
}