@use '../library/mixins';

.page-template-page-president-php {
  .president {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 55px;
    padding: 0 80px;
    .presidentPageDiv {
      .subheading {
      @include mixins.subheadingNot;
    }
    @include mixins.articleStyle;
    }
    
  }
}


