@use '../library/mixins';

.page-id-12 {
  .affairs {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 55px;
    padding: 0 80px;
    .affairsDiv {
      .subheading {
      @include mixins.subheadingNot;
    }
    @include mixins.articleStyle;
    }
    
  }
}

