@use '../library/mixins';

.page-template-page-president-php {
  @include mixins.allPageStyle;
  .president {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 55px;
    padding: 0 80px;
    .presidentPageDiv {
      .subheading {
      @include mixins.subheadingNot;
    }
    @include mixins.articleStyle;
    }
    
  }
}


@media screen and (max-width: 1100px) {
  .president {
    flex-direction: column;
  }
}