@use '../library/mixins';

.series {
  margin-top: 120px;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  gap: 30px;
  .divide {
    .subheading {
      @include mixins.subheadingNot;
    }
    section {
      gap: 20px;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      img {
        object-fit: contain;
        width: 100%;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        p {
          &:first-of-type {
            font-size: 24px;
            font-weight: 700;
          }
          &:nth-of-type(2) {
            font-size: 14px;
            line-height: 1.7;
          }
        }
      }
    }
    @include mixins.appsStyle($paddingBottom:20px,$marginBottom: 20px);
  }
}