

.companyInformation {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--borderColor);
  padding: 40px;
  gap: 16px;
  margin-bottom: 25px;
  >div {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--borderColor); 
    p {
      &:first-of-type {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;
      }
      &:nth-of-type(2) {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
  
}